@{
    ViewData["Title"] = "Anasayfa";
    var rowCount = 0;
}
@model IEnumerable<SalesApp.Models.SalesInventory>
<div class="text-center">
    <br /><br />
    <div style="float:right;">
        <a href="@Url.Action("AddSaleHistory")" class="btn btn-primary">Yeni Kayıt Ekle</a>
    </div><br /><br />


    <div>
        <h6>Aşağıda satış envanteri geçmiş kayıtları listelenmiştir. Dilediğiniz kaydı silebilir, güncelleyebilir veya yeni bir kayıt ekleyebilirsiniz.</h6><br />

    </div>

    @if (Model.Count() > 0)
    {
        <table>
            <tr>
                <th>#</th>
                <th>Ürün Id</th>
                <th>Mağaza Id</th>
                <th>Satış Tarihi</th>
                <th>Satış Mİktarı</th>
                <th>Stok Adedi </th>
                <th>Satış Karı </th>
                <th class="text-center">İşlemler</th>
            </tr>
            @foreach (var data in Model)
            {
                    rowCount++;
                <tr>
                    <th>@rowCount</th>
                    <td>@data.ProductId</td>
                    <td>@data.StoreId</td>
                    <td>@data.Date.ToShortDateString()</td>
                    <td>@data.SalesQuantity</td>
                    <td>@data.Stock</td>
                    <td>@data.Profit</td>
                    <td class="text-center">
                        <a href="@Url.Action("DeleteSaleHistory", new {id= data.Id} )" class="btn btn-danger">Sil</a>
                        <a href="@Url.Action("UpdateSaleHistory", new {id= data.Id} )" class="btn btn-primary">Güncelle</a>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <h6>ürün bulunmamaktadır.</h6>
    }
</div>
